<!--Navbar-->
<header id="header" class="header">

    <!-- Logo - Image Based -->
    <div class="header__logo header__logo--img">
        <a href="index.html"><img src="../../../../assets/images/logo.png" srcset="../../../../assets/images/logo@2x.png 2x" alt="Order of Champions"></a>
    </div>
    <!-- Logo - Image Based / End -->

    <!-- Navigation Links -->
    <nav class="main-nav">
        <ul class="main-nav__list" [class.main-nav__back]="menuIsOn">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <!-- Navigation Links / End -->

    <div class="header__spacer"></div>

    <!-- Secondary Navigation -->
    <nav class="header__nav header__nav--secondary">

        <!-- Secondary Nav -->
        <ul class="nav-secondary">

            <!-- Account -->
            <li class="nav-discord">
                <a href="https://discord.gg/NmRRatK" target="_blank">
                    <img src="../../../../assets/images/discord-logo.png" class="discord-icon" alt="Discord">
                </a>
            </li>
            <!-- Account / End -->

        </ul>
        <!-- Secondary Nav / End -->

    </nav>
    <!-- Secondary Navigation / End -->

    <!-- Mobile Burger Menu Icon -->
    <a id="header-mobile__toggle" class="burger-menu-icon">
        <span class="burger-menu-icon__line"></span>
        <span class="burger-menu-icon__line"></span>
        <span class="burger-menu-icon__line"></span>
    </a>
    <!-- Mobile Burger Menu Icon / End -->

</header>
<!-- Navbar / End -->