<!-- Section: How it works -->
<div class="section-content section-content--secondary">
    <div class="container">
        <div class="section-heading section-heading--divider-top">
            <h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Play Better Shared D&amp;D</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <!-- Icobox -->
                <div class="icobox" data-aos="fade-up" data-aos-duration="800">
                    <div class="icobox__icon-wrapper">
                        <div class="icobox__icon">
                            <i class="icon-trophy"></i>
                        </div>
                    </div>
                    <h3 class="icobox__title">Join a Pickup Game</h3>
                    <div class="icobox__desc">
                        Join a public game in our Discord server or play with friends. No weekly commitments.
                    </div>
                </div>
                <!-- Icobox / End -->
            </div>
            <div class="col-md-4">
                <!-- Icobox -->
                <div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="icobox__icon-wrapper">
                        <div class="icobox__icon">
                            <i class="icon-info"></i>
                        </div>
                    </div>
                    <h3 class="icobox__title">Learn to Play</h3>
                    <div class="icobox__desc">
                        Learn to play with experienced players and Dungeon Masters. Ask for a hand in our Discord Server.
                    </div>
                </div>
                <!-- Icobox / End -->
            </div>
            <div class="col-md-4">
                <!-- Icobox -->
                <div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="icobox__icon-wrapper">
                        <div class="icobox__icon">
                            <i class="icon-lock-open"></i>
                        </div>
                    </div>
                    <h3 class="icobox__title">No More PHB&#x2b;1</h3>
                    <div class="icobox__desc">
                        We don’t restrict character creations options like others. We use most published books.
                    </div>
                </div>
                <!-- Icobox / End -->
            </div>
        </div>

    </div>
</div>
<!-- Section: How it works / End -->